doctype html
include header.jade

body(ng-app="fastchat" layout='row' ng-controller="SidebarController")
  md-sidenav(layout='column'
             style={'overflow': 'hidden', 'display': 'flex'}
             class='site-sidenav md-sidenav-left md-whiteframe-z2'
             md-component-id='left'
             md-is-locked-open="$mdMedia('gt-sm')")
    md-toolbar
      h1.md-toolbar-tools
        a(ng-href='/' layout='row' flex)
          //img#hero-image(src='img/FastChat-120.png')
          div(style={'line-height':'40px', 'text-indent':'15px'}) FastChat
  
    md-content(style={'overflow': 'auto'})
      ul.docs-menu
        li.parent-list-item(ng-repeat="section in menu.sections" ng-class="{'parentActive' : isSectionSelected(section)}")
          h2(class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name }}") {{section.name}}
          menu-link.sidebar-link(section="section" ng-if="section.type === 'link'")
          menu-toggle(section="section" ng-if="section.type === 'toggle'")
          ul.menu-nested-list(ng-if="section.children")
            li(ng-repeat="page in section.pages" ng-class="{'childActive' : isSectionSelected(child)}")
              menu-toggle(section="child")

  div(layout="column" layout-fill tabIndex="-1" role="main")
    md-toolbar
      div.md-toolbar-tools(ng-click="openMenu()")
        button.menu-icon(hide-gt-sm aria-label="Toggle Menu")
          img(src='img/menu.png')

    md-content#main-content.md-padding(ng-view md-scroll-y flex)

                
  script(src='//localhost:35729/livereload.js')
  script(src='js/scripts/compiled.js')
  script(src='js/app.js')
  script(src='js/models/user.js')
  script(src='js/controllers/sidebar_controller.js')
  script(src='js/controllers/login_controller.js')
