footer.footer-3
  .container
    .row.v-center
      .col-sm-2
        a.brand(href='/index.html') FastChat
      .col-sm-7
        .additional-links
          | Be sure to take a look to our
          a(href='#') Terms of Use
          |  and
          a(href='#/privacy') Privacy Policy
      .col-sm-3
        h6 Boston, MA
        .address
          | Address Here st number
          br
          | Boston, MA, 11111
