h2 Login
#login_errors.alert.alert-danger(style='display:none;white-space:pre-wrap;')
form(method='post', ng-submit='login()')
  input#username.form-control(type='text', placeholder='Username', ng-model='username')
  input#password.form-control(type='password', placeholder='Password', ng-model='password')
  button.btn.btn-block.btn-info(type='submit') Login
